/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: #ffffff;
  font-family: "ZedMono Nerd Font", monospace;
  font-size: 15px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: #1e1e2e;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 2px 1.5vw;
  overflow: hidden;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.right {
  justify-self: end;
}

.center {
  justify-content: center;
}

.sep {
  margin-right: 10px;
  margin-left: 10px;
}
.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.audio,
.weather,
.battery {
  margin-right: 20px;
  vertical-align: middle;
}
i
.aduio {
  align-items: center;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #585b70;
  margin-right: 4px;
  padding: 4px 4px;
  color: #f9e2af;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.displayed {
    background: #b4befe;
  }

  &.focused,
  &:hover {
    background: #f9e2af;
    color: #11111b;
    font-weight: bold;
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}
.memory .high-usage{
  color: #f38ba8;
}
.cpu .high-usage {
  color: #f38ba8;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
